.speech
{
    color: black;
    font-size: 100%;
}
.stagedirection
{
    background-color: lightgreen;
    color : black;
}
.stagedirection:hover 
{
    background-color: black;
    color : red ;
}
.MARCHMONT
{
    font-style: italic;
    color :black;
}
.BASILDON
{
    font-style: initial;
    color :rgb(126, 110, 110);
}
.MASON
{
    font-style: inherit;
    color : violet;
}
.CAVERSHAM
{
    font-style: italic;
    color : brown;
}
.LADYCHILTERN
{
    font-style: initial;
    color :hotpink;
}
.MABELCHILTERN
{
    font-style: inherit;
    color : darkmagenta;
}
table, th, td {
	border: 1px black solid;
    width: 25px;
    text-align: center;
    padding: 2px;
    margin: 25px;
    color : black;
}
th{
    height: 30px;
}
tr:hover{
    background-color: blue;
    color: brown;
}
tr:nth-child(even) {
    background-color: blueviolet;
  }
.name:hover{
    text-shadow: rgb(38, 106, 138) 1px 0 12px;
    border: 1px solid;
}