.speech
{
    color: black;
    font-size: 100%;
}
.stagedirection
{
    background-color: lightgreen;
    color : black;
}
.stagedirection:hover 
{
    background-color: black;
    color : red ;
}
.name
{
    font-style: initial;
    color :black;
}